@font-face {
  font-family: "Serifa";
  src: url(./SerifaStd-Black.otf);
}

@font-face {
  font-family: "Fred";
  src: "fonts/FrederickatheGreat-Regular.ttf" format("Truetype");
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  color: #3b7fd9;
  font-family: "Serifa";
}

.ticker-wrapper {
  position: relative;
    max-width: 100%;
    margin: 0 0;
    padding-top: 0px;
}

.bigHeading {
  display: block;
  position: absolute;
  font-style: italic;
  font-size: 40px;
  background: crimson;
  color: #ffff;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 3px;
  font-weight: 700;
  z-index: 2;
  left:-44px;
}

.bigHeading::after,
.bigHeading::before {
  content: "";
  width: 0;
  position: absolute;
  border-width: 67px;
  border-style: solid;
  top: 0;
  z-index: -1;
}

.bigHeading::before {
  border-color: crimson transparent transparent transparent;
  right: -67px;
}

.bigHeading::after {
  border-color: transparent transparent crimson transparent;
  left: -78px;
  top: -78px;
}

.text-update {
  height: 70px;
  width: 100%;
  background: #3b7fd9;
  overflow: hidden;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  left: 12px;
}

.text-update p {
  position: absolute;
  width: 400%;
  margin: 0;
  font-weight: 700;
  text-align: left;

  transform: translateX(100%);
  animation: moving 30s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.x-scroll-disabled {
  overflow-x: hidden;
}

body {
  background-color: #ffc8a2 !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Fred";
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}

p {
  font: "Serifa";
}

.d-none{
 display: none;
}

.info_box p {
  background-color: transparent;
  color: #e6ebf3;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

#target{
  color: #3b7fd9;
  display: block;
  text-align: justify!important;
   max-width: 480px!important;
   min-width: 100%!important; 
}

.wrapper {
  height: fit-content;
  width: cover;
  position: relative;
  background-image: url("background_big.svg");
  background-color: #ffc8a2;
  background-repeat: no-repeat;
  z-index: 1;
}

.wrapper_2 {
  height: 535px;
  width: cover;
  position: relative;
  background-color: #ffc8a2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 1;
}

.container {
  height: 1000px;
  width: 100%;
  max-width: 100% !important;
  position: relative;
  background-color: transparent;
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}

.design_container {
  height: 340px;
  width: 100%;
  max-width: 100% !important;
  position: relative;
  background-color: transparent;
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}

.link-images {
  height: 230px !important;
  width: auto;
}


.container_2 {
  height: 580px;
  position: relative;
  background-image: url("Car_photo.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffc8a2;
  z-index: -4;
}

.container_3 {
  height: 440px;
  width: 100%;
  position: relative;
  background-image: url("background_180.svg");
  background-color: #ffc8a2;
  z-index: 2;
  background-repeat: no-repeat;
}

.bg-light {
  background-color: #3b7fd9 !important;
  color: #e6ebf3;
}

.nav-link {
  color: #e6ebf3 !important;
}

.navbar-brand {
  color: #e6ebf3 !important;
}

.container_4 {
  height: 20px;
  width: 100%;
  position: relative;
  background-color: #f15a24;
  z-index: 0;
  background-repeat: no-repeat;
}
.corner {
  position: relative;
  display: inline-block;
  width: 100%;
  align-items: center;
  align-content: space-around;
  margin: 0 20px;
}

.info_box {
  display: block;
  width: 100%;
  margin: 0 0 !important;
  text-align: justify;
  color: #3b7fd9;
}

.info_box_2 {
  display: block;
  width: 84%;
  margin: 0 5%;
  text-align: justify;
  color: #3b7fd9;
}
.corner span {
  position: relative;
  width: 60%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  color: #3b7fd9;
}

.corner_2 span {
  position: relative;
    width: 300px;
    display: block;
    margin-left: auto!important;
    margin-right: 290px!important;
    color: #3b7fd9;
}

.corner_3 {
  width: 0;
  height: 0;
  border-top: 180px solid transparent;
  border-left: 95vw solid #3b7fd9;
  z-index: 3;
}

.corner_4 {
  width: 0;
  height: 0;
  border-bottom: 120px solid transparent;
  border-left: 95vw solid #3b7fd9;
  z-index: 3;
}
.top_img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 8px 8px;
  margin: 0 15%;
}

.responsive-background{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.responsive {
  width: 7rem;
  height: auto;
  border-radius: 8px 8px;
  position: relative;
  margin: 0 auto;
}

.row {
  width: 100%!important;
  display: inline-flex;
  margin-top: 34px!important;
}

.col-6 {
  display: flex;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.responsive_2 {
  width: 14rem;
  height: auto;
  border-radius: 8px 8px;
}

.white_text {
  color: #e6ebf3;
}
.logo {
  display: block;
  position: relative;
}
#image {
  display: block;
  margin-left: auto !important;
  margin-right: 0px !important;
  width: auto;
  border: 16px ridge #3b7fd9;
  padding: 5px;
}

#image_centre {
  display: block;
  margin-left: 42px !important;
  margin-right: auto !important;
  width: auto;
  padding: 5px;
}

.link-pair {
  width: 100%;
  height: fit-content;
  position: relative;
}
.btn-link {
  position: absolute !important;
  top: 240px !important;
  left: 0 !important;
  padding: 16px !important;
  color: #e6ebf3 !important;
}

.table {
  background-color: #ffc8a2 !important;
  color: #3b7fd9 !important;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #3b7fd9;
  margin-top: 0rem;
  color: #3b7fd9 !important;
  padding: 0;
  height: 2.5rem !important;
}

@media only screen and (min-width: 1240px) {
  .container_2 {
    height: 580px;
    position: relative;
    background-image: url("Car_photo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffc8a2;
    z-index: -4;
  }
   
  .corner {
    position: relative;
    display: inline-flex;
    width: 100%;
    align-items: center;
    align-content: space-around;
    margin: 0 20px;
  }

  .link-images {
    height: 320px !important;
  }

  .container {
    height: 740px;
  }

  .info_box p {
    background-color: transparent;
  }

  .m-lg-1 {
    margin-top: 1.6rem !important;
  }

  .m-lg-2 {
    margin-top: 3.22rem !important;
  }

  .m-lg-4 {
    margin-top: 4.8rem !important;
  }

  .m-lg-5 {
    margin-top: 6.4rem !important;
  }

  .m-lg-5 {
    margin-top: 8rem !important;
  }

  #image_centre {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto;
    padding: 5px;
  }

  .corner_2 span {
    width: 300px;
    display: inline-flex;
    margin-left: auto!important;
    margin-right: 290px!important;
    color: #3b7fd9;
  }
}
