$breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 1440px;
$breakpoint_xxl: 1600px;

nav{
    font-family: "Serifa";
  }

  @media only screen and (min-width: $breakpoint_md) {
  
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      font-size: 40px;
  }
}